{% extends 'users/base.html' %} 
{% block content %}

<div class="container">
  <h1>Usuários:</h1>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Ações</th>
    </tr>

    {% for user in users %}
    <tr>
      <td>{{user.id_user}}</td>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
      <td style="display: flex; align-items: center; justify-content: center">
        <a
          href="{% url 'update_user' user.id_user %}"
          style="margin-right: 20px"
          class="btn btn-light"
          >Editar</a
        >
        <a href="{% url 'delete_user' user.id_user %}" class="btn btn-danger"
          >Excluir</a
        >
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
